@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100dvh;
}



@layer base {
  :root {
    --background: 274 100% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 274 100% 97%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 274 100% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 292 36.5% 25.5%;
    --input: 292 36.5% 25.5%;
    --ring: 222.2 84% 4.9%;
    --radius: 0rem;
    --third: 248 83% 64%;
    --third-foreground: 270 69% 75%;
  }

  .dark {
    --gradient: #debff5;
    --background: 292 47.449999999999996% 6.8%;
    --foreground: 292 7.3% 99.25%;
    --muted: 292 36.5% 25.5%;
    --muted-foreground: 292 7.3% 58.5%;
    --popover: 292 50.4% 11.049999999999999%;
    --popover-foreground: 292 7.3% 99.25%;
    --card: 292 50.4% 11.049999999999999%;
    --card-foreground: 292 7.3% 99.25%;
    --border: 292 36.5% 25.5%;
    --input: 292 36.5% 25.5%;
    --primary: 292 73% 85%;
    --primary-foreground: 292 7.3% 8.5%;
    --secondary: 292 36.5% 25.5%;
    --secondary-foreground: 292 7.3% 99.25%;
    --accent: 292 36.5% 25.5%;
    --accent-foreground: 292 7.3% 99.25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 292 7.3% 99.25%;
    --ring: 292 73% 85%;
    --third: 248 83% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .image-pixel {
    image-rendering: pixelated;
  }
}