@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100dvh;
}



@layer base {

  :root {
    --background: 217 37% 95%;
    --foreground: 217 5% 10%;
    --card: 217 37% 90%;
    --card-foreground: 217 5% 15%;
    --popover: 217 37% 95%;
    --popover-foreground: 217 95% 10%;
    --primary: 217 32.6% 17.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 179 30% 85%;
    --muted-foreground: 217 5% 40%;
    --accent: 179 30% 80%;
    --accent-foreground: 217 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 59%;
    --input: 217 30% 50%;
    --ring: 217 32.6% 17.5%;
    --radius: 0rem;
  }

  .dark {
    --background: 217 37% 10%;
    --foreground: 217 5% 90%;
    --card: 217 37% 10%;
    --card-foreground: 217 5% 90%;
    --popover: 217 37% 5%;
    --popover-foreground: 217 5% 90%;
    --primary: 217 32.6% 17.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 179 30% 25%;
    --muted-foreground: 217 5% 60%;
    --accent: 179 30% 25%;
    --accent-foreground: 217 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 50%;
    --input: 217 30% 50%;
    --ring: 217 32.6% 17.5%;
    --radius: 0rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}